{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}パスワードリセット | Subsc Manager{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="my-div-style w-100">
                <h1 class="mb-4 text-center">パスワードリセット</h1>

                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="text-center">
                    登録済みのメールアドレスを入力してください。<br>
                    パスワード再設定用のリンクを送信します。
                </p>

                <form method="post" action="{% url 'password_reset' %}">
                    {% csrf_token %}

                    {{ form.non_field_errors }}

                        <div class="mb-3">
                            {{ form.email.label_tag }}
                            {{ form.email|add_class:"form-control" }}
                            <div class="text-danger">
                                {{ form.email.errors }}
                            </div>
                        </div>

                    <button class="btn btn-primary w-100" type="submit">送信</button>
                </form>

                <p class="mt-3 text-center">
                    <a href="{% url 'account_login' %}">ログイン画面に戻る</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}