{% extends 'base.html' %}
{% block title %}パスワードリセット送信完了 | Subsc Manager{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="my-div-style w-100 text-center">

                <h1 class="mb-4">メール送信完了</h1>

                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="mb-3">
                    パスワードリセット用のメールを送信しました。
                </p>

                <p class="text-muted mb-4">
                    メールに記載されたリンクから、パスワードの再設定を行ってください。
                </p>

                <a href="{% url 'account_login' %}" class="btn btn-primary w-100">
                    ログイン画面へ戻る
                </a>

            </div>
        </div>
    </div>
</div>
{% endblock %}